You are logged in as User: <%=current_user.username%>

<br></br>
<h2><%=@photo.user.username%></h2>
<%=@photo.title%>
<%=@photo.caption%>
<%=@photo.image_url%>
<br></br>

  <form method="post" action="/photos/<%=@photo.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
   <input type="submit" value="Delete Photo">
  </form>

  <a href="/photos/<%=@photo.id%>/edit">Edit Photo</a>